<!-- Default form login -->
<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
      <div [hidden]="loggedIn" class="card">

          <h5 class="card-header aqua-gradient white-text text-center py-4">
              <strong>Sign in</strong>
            </h5>

          <form (ngSubmit)="onSubmit()" class="text-center border border-light p-5">
      
              <!-- <p class="h4 mb-4">Sign in</p> -->
          
              <!-- Email -->
              <input type="email" id="username" [(ngModel)]="credential.username" name="username" class="form-control mb-4" placeholder="E-mail">
          
              <!-- Password -->
              <input type="password" id="defaultLoginFormPassword" [(ngModel)]="credential.password" name="password" class="form-control mb-4" placeholder="Password">
          
              <div class="d-flex justify-content-around">
                  <div>
                      <!-- Remember me -->
                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                          <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                      </div>
                  </div>
                  <div>
                      <!-- Forgot password -->
                      <a href="">Forgot password?</a>
                  </div>
              </div>
          
              <!-- Sign in button -->
              <button class="btn btn-block blue-gradient my-4" type="submit">Sign in</button>
          
              <!-- Register -->
              <p>Not a member?
                  <a href="">Register</a>
              </p>
          
              <!-- Social login -->
              <p>or sign in with:</p>
          
              <a type="button" class="light-blue-text mx-2">
                  <i class="fa fa-facebook"></i>
              </a>
              <a type="button" class="light-blue-text mx-2">
                  <i class="fa fa-twitter"></i>
              </a>
              <a type="button" class="light-blue-text mx-2">
                  <i class="fa fa-linkedin"></i>
              </a>
              <a type="button" class="light-blue-text mx-2">
                  <i class="fa fa-github"></i>
              </a>
          
          </form>
      </div>
      <div [hidden]="!loggedIn">
        <h2>You have logged in!</h2>
    </div>
      <div class="col-3"></div>
  </div>
</div>


<!-- Default form login -->